<ion-view view-title="รายการรับข้าว" ng-init="init()">
    <!--<ion-nav-bar align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left" ui-sref="tab.more">Back
      </button>
        </ion-nav-buttons>

    </ion-nav-bar>-->
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <div class="row">
            <div class="col"></div>
            <div class="col col-90">
                <div class="button-bar">
                    <a class="button button-outline button-positive {{Request === true ? 'active' : ''}}" ng-click="Request = true ;Response = false;Received = false ;">ร้องขอ</a>
                    <a class="button button-outline button-positive {{Response === true ? 'active' : ''}}" ng-click="Response = true;Received = false ;Request=false">ตอบกลับ</a>
                    <a class="button button-outline button-positive {{Received === true ? 'active' : ''}}" ng-click="Received = true; Response= false ;Request=false">ได้รับ</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="ค้นหา..." ng-model="topsearch" aria-describedby="sizing-addon3">
        </div>

        <!--<ion-nav-buttons side="primary">
                <button class="button" ui-sref="tab.detailaccept">ย้อนกลับ</button>
            </ion-nav-buttons>-->

        <div ng-show="Response" ng-repeat="data in listResponse | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right'  ng-click="requestOrderDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.shipping.address}} {{data.shipping.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.shipping.district}} {{data.shipping.province}} {{data.shipping.postcode}}</p>
                <p style="margin-right: 20%">{{data.shipping.tel}}</p>
                <p style="margin-right: 20%">บริษัท : {{data.transport.displayName}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>

        <div ng-show="Received" ng-repeat="data in listReceived | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right' ng-click="requestOrderDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.shipping.address}} {{data.shipping.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.shipping.district}} {{data.shipping.province}} {{data.shipping.postcode}}</p>
                <p style="margin-right: 20%">{{data.shipping.tel}}</p>
                <p style="margin-right: 20%">บริษัท : {{data.transport.displayName}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>

        <div ng-show="Request" ng-repeat="data in listRequest | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right' ng-click="requestOrderDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.shipping.address}} {{data.shipping.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.shipping.district}} {{data.shipping.province}} {{data.shipping.postcode}}</p>
                <p style="margin-right: 20%">{{data.shipping.tel}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>