<ion-view view-title="ประวัติส่วนตัว" ng-init="init()" cache-view="false" align-title="center">

    <!--<ion-nav-bar align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left" ui-sref="tab.more">Back
      </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card">
            <div class="item item-body">
                <div align="center">
                    <img class="imgdetail" src="{{userStore.profileImageURL}}">
                    <!--<img class="imgdetail" src="http://www.w3schools.com/css/lights600x400.jpg">-->
                </div>
                <h2 align="center">{{userStore.displayName}}</h2>
                <p align="center">{{userStore.address.tel}}</p>
                <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-33">
                        <label>เลขที่ </label>
                    </div>
                    <div class="col-50">
                        <span>{{userStore.address.address}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-33">
                        <label>ตำบล </label>
                    </div>
                    <div class="col-50">
                        <span>{{userStore.address.subdistrict}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-33">
                        <label>อำเภอ </label>
                    </div>
                    <div class="col-50">
                        <span>{{userStore.address.district}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-33">
                        <label>จังหวัด  </label>
                    </div>
                    <div class="col-50">
                        <span>{{userStore.address.province}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-33">
                        <label>อีเมลล์ </label>
                    </div>
                    <div class="col-50">
                        <span>{{userStore.email}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                    </div>
                    <div class="col-33">
                        <label>รหัสไปรษณีย์  </label>
                    </div>
                    <div class="col-50">
                        <span>{{userStore.address.postcode}}</span>
                    </div>
                </div>
            </div>
            <div class="item item-body hbody">
                <ion-content>
                    <div id="map" data-tap-disabled="true"> </div>
                </ion-content>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button button-positive button-block" ng-click="centerOnMe()">ลองอีกครั้ง</button>
                </div>
                <div class="col">
                    <button class="button button-balanced button-block" ng-click="postme()">ส่งตำแหน่ง</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
            </div>
    </ion-content>
</ion-view>