<ion-view view-title="ประวัติส่วนตัว" ng-init="init()" cache-view="false" align-title="center">

    <!--<ion-nav-bar align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left" ui-sref="tab.more">Back
      </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <!---->
        <div class="form-fields-outer list list-inset">
            <div class="row slide-content">
                <div class="col col-20"></div>
                <div class="col col-center user-data">
                    <!-- We need a wrapper with width set for the preload image directive -->
                    <div class="user-image-outer" align="center">
                        <pre-img ratio="_1_1" helper-class="rounded-image">
                            <img class="user-image height-100per text-center" id="myImage" ng-src="{{userStore.profileImageURL}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <span class="badge badge-assertive icon-image bg-gray badge-cart position-absolute" ng-click="changeImageProfile()">
                                <i class="icon ion-ios-camera-outline font-30" ></i></span>
                    <!--<h3 class="user-name text-center">แก้ไขรูป</h3>-->
                    <div align="center">
                        <h4 class="text-center">{{userStore.displayName}}</h4>
                        <!--<p align="center">{{userStore.address.tel}}</p>-->
                    </div>
                </div>
                <div class="col col-20"></div>
            </div>
            <div align="right" class="listeditPro">
                <div class="item-iconEditPro">
                    <div ng-hide="updateDeliver" ng-click="updateDeliver = true">
                        <span class="item-fontEditDeli">แก้ไขข้อมูล</span>
                        <i class="icon icon ion-ios-compose-outline"></i>
                    </div>
                    <div ng-show="updateDeliver" ng-click="updateDeliver = false">
                        <span class="item-fontEditDeli">แก้ไขข้อมูล</span>
                        <i class="icon icon ion-ios-compose"></i>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="list card">
            <div class="item item-body">
                <!--<div class="item-iconEditPro">
                    <div ng-hide="updateDeliver" ng-click="updateDeliver = true">
                        <span class="item-fontEditDeli">แก้ไขข้อมูล</span>
                        <i class="icon icon ion-ios-compose-outline"></i>
                    </div>
                    <div ng-show="updateDeliver" ng-click="updateDeliver = false">
                        <span class="item-fontEditDeli">แก้ไขข้อมูล</span>
                        <i class="icon icon ion-ios-compose"></i>
                    </div>
                </div>-->

                <div class="list" ng-hide="updateDeliver">
                    <label class="item item-icon-right item-fontProfile">เลขที่ :<span class="item-detailRight">{{userStore.address.address}}</span></label>
                    <label class="item item-icon-right item-fontProfile">ตำบล :<span class="item-detailRight">{{userStore.address.subdistrict}}</span></label>
                    <label class="item item-icon-right item-fontProfile">อำเภอ :<span class="item-detailRight">{{userStore.address.district}}</span></label>
                    <label class="item item-icon-right item-fontProfile">จังหวัด :<span class="item-detailRight">{{userStore.address.province}}</span></label>
                    <label class="item item-icon-right item-fontProfile">รหัสไปรษณีย์ :<span class="item-detailRight">{{userStore.address.postcode}}</span></label>
                    <label class="item item-icon-right item-fontProfile">อีเมลล์ :<span class="item-detailRight">{{userStore.email}}</span></label>
                </div>
                <div class="list" ng-show="updateDeliver">
                    <label class="item item-icon-right item-fontProfile">เลขที่ :<input class="item-input item-editfontProfile" type="text" placeholder="{{userStore.address.address ? userStore.address.address : 'เลขที่'}}" ng-model="userStore.address.address"></label>
                    <label class="item item-icon-right item-fontProfile">ตำบล :<input class="item-input item-editfontProfile" type="text" placeholder="{{userStore.address.subdistrict ? userStore.address.subdistrict : 'ตำบล'}}" ng-model="userStore.address.subdistrict"></label>
                    <label class="item item-icon-right item-fontProfile">อำเภอ :<input class="item-input item-editfontProfile" type="text" placeholder="{{userStore.address.district ? userStore.address.district : 'อำเภอ'}}" ng-model="userStore.address.district"></label>
                    <label class="item item-icon-right item-fontProfile">จังหวัด :<input class="item-input item-editfontProfile" type="text" placeholder="{{userStore.address.province ? userStore.address.province : 'จังหวัด'}}" ng-model="userStore.address.province"></label>
                    <label class="item item-icon-right item-fontProfile">รหัสไปรษณีย์ :<input class="item-input item-editfontProfile" type="text" placeholder="{{userStore.address.postcode ? userStore.address.postcode : 'รหัสไปรษณีย์'}}" ng-model="userStore.address.postcode"></label>
                    <label class="item item-icon-right item-fontProfile">อีเมลล์ :<input class="item-input item-editfontProfile" type="text" placeholder="{{userStore.address.tel ? userStore.address.tel : 'เบอร์โทรศัพท์'}}" ng-model="userStore.email"></label>
                </div>
                <!---->
                <div class="row" ng-show="updateDeliver">
                    <div class="col">
                        <button class="button button-balanced button-block" ng-click="updateProfileDeli(userStore);updateDeliver = false">อัพเดตโปรไฟล์</button>
                    </div>
                </div>

            </div>
            <div class="item item-body hbody">
                <ion-content>
                    <div id="map" data-tap-disabled="true"> </div>
                </ion-content>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button button-positive button-block" ng-click="centerOnMe()">ลองอีกครั้ง</button>
                </div>
                <div class="col">
                    <button class="button button-balanced button-block" ng-click="postme()">ส่งตำแหน่ง</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
            </div>
    </ion-content>
</ion-view>