<ion-view view-title="บิลลอย" ng-init="init()">
    <ion-content>
        <div class="row">
            <div class="col-md-4">
                <button class="button button-block button-positive" ng-click="modal.show()">สร้างบิลลอย</button>
            </div>
        </div>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <button class="button button-balanced">บันทึก</button>
          <h1 class="title">เลือกสินค้า</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="input-group input-group-sm">
      <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Search for order..." ng-model="topsearch" aria-describedby="sizing-addon3">
    </div>
          <div class="list card" ng-repeat="product in products | filter:topsearch">
              <div class="item item-image">
                  <img src="{{product.images}}">
              </div>
             <div class="item item-body">
                 <h2>ชื่อสินค้า : {{product.name}}</h2>
                 <h2>ราคา : {{product.price}}</h2>
                  <h2>ราคารวม : {{amount}}</h2>
                     <i class="icon ion-plus-circled" ng-click="addQty(product)"></i>
                     <label ng-bind="product.qty"></label>
                     <i class="icon ion-minus-circled" ng-click="removeQty(product)"></i>
                 
             </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>