<ion-view view-title="รายละเอียด">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">เลขใบสั่งซื้อ : </span>
                <input ng-model="data.docno" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">วันที่ : </span>
                <input ng-value="data.docdate | date:'dd/MM/yyyy'" type="text" style="background-color: white" readonly>
            </label>
            <!---->

            <div class="row" ng-click="btnGoDetail(data)">
                <div class="col col-33">
                    <img class="imagempf" src="{{data.user.profileImageURL}}">
                </div>
                <div class="col col-66">
                    <h4>ชื่อ : {{data.user.displayName}}</h4>
                    <p>ที่อยู่ : {{data.shipping.address}} {{data.shipping.subdistrict}}</p>
                    <p>{{data.shipping.district}} {{data.shipping.province}} {{data.shipping.postcode}}</p>
                </div>
            </div>
            <div class="row text-center">
                <!--<div class="col">
                    <a class="item item-icon-left tapbuttonNone" ng-click="gotoChat2(data.user)">
                        <i class="icon ion-ios-chatbubble"></i> พูดคุย
                    </a>
                </div>-->
                <div class="col">
                    <a class="item item-icon-left tapbuttonNone" ng-click="telephone('{{data.shipping.tel}}')">
                        <i class="icon ion-ios-telephone"></i> โทร
                    </a>
                </div>
                <div class="col">
                     <a class="item item-icon-left tapbuttonNone" ng-click="openMap({{data}})">
                        <i class="icon ion-ios-location"></i> นำทาง
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-positive" ng-click="completeDeliver(data)">
                            ส่งแล้ว
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-assertive" ng-click="rejectDeliver(data)">
                            คืนงาน
                    </button>
                </div>
            </div>
            <div class="item item-avatar-left item-icon-right item-text-wrap" ng-repeat="item in data.items">
                <img src="{{item.product.images}}">
                <h2>{{item.product.name}} ({{item.product.price}} บาท)</h2>
                <p style="margin-right: 20%">จำนวน {{item.qty}} ถุง</p>
                <p style="margin-right: 20%">ราคารวม {{item.amount}} บาท</p>

            </div>

            <label class="item item-input">
                <span class="input-label">ราคารวม : </span>
                <input ng-value="data.amount+' บาท'" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">ค่าจัดส่ง : </span>
                <input ng-value="data.deliveryamount +' บาท'" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">ส่วนลด : </span>
                <input ng-value="data.discountpromotion + ' ' + 'บาท'" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">ราคาสุทธิ : </span>
                <input ng-value="data.totalamount + ' ' + 'บาท'" type="text" style="background-color: white" readonly>
            </label>
        </div>
    </div></ion-content>
</ion-view>