<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar>
            <ion-nav-back-button id="back">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <div>
                    <button class="button button-icon ion-navicon" menu-toggle="left">
                        <span class="badge badge-assertive badge-notify-{{Platform | lowercase}}">{{countlistreceiveds + countStock + countlistReturned + countlistAr || 0}}</span>
                        </button>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="large">
        <!--<ion-header-bar>
            <h1 class="title"></h1>
        </ion-header-bar>-->
        <ion-header-bar class="bar-dark">
            <h1 class="title">เมนู</h1>
        </ion-header-bar>
        <ion-content has-bouncing="false" class="menu-outer left-menu">
            <div class="list">

                <div ng-controller="menuCtrl">
                    <a class="item item-icon-left settings-option" menu-close ui-sref="app.tab.new">
                        <i class="icon ion-ios-home-outline"></i> หน้าแรก
                    </a>
                    <a class="item item-icon-left settings-option" menu-close ng-click="listbl()">
                        <i class="icon ion-ios-list-outline"></i> เปิดบิลลอย
                    </a>
                    <a class="item item-icon-left settings-option" menu-close ng-click="listreceived()">
                        <i class="icon ion-ios-bookmarks-outline"></i> รายการรับข้าว
                        <span class="badge badge-assertive">{{countlistreceiveds || 0}}</span>
                    </a>
                    <a class="item item-icon-left settings-option" menu-close ng-click="liststock()">
                        <i class="icon ion-social-buffer-outline"></i> สต๊อก
                        <span class="badge badge-assertive">{{countStock || 0}}</span>
                    </a>
                    <a class="item item-icon-left settings-option" menu-close ng-click="listReturn()">
                        <i class="icon icon ion-ios-list-outline"></i> รายการใบแจ้งคืน
                        <span class="badge badge-assertive">{{countlistReturned || 0}}</span>
                    </a>
                    <a class="item item-icon-left settings-option" menu-close ng-click="listAr()">
                        <i class="icon icon ion-ios-list-outline"></i> รายการใบแจ้งหนี้
                        <span class="badge badge-assertive">{{countlistAr || 0}}</span>
                    </a>
                    <!--<a class="item item-icon-left settings-option" menu-close ng-click="listdetail()">
                        <i class="icon ion-ios-contact-outline"></i> ประวัติส่วนตัว
                    </a>-->
                    <a class="item item-icon-left settings-option" menu-close ng-click="doLogOut()">
                        <i class="icon ion-ios-close-outline"></i> ออกจากระบบ
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>