<ion-view view-title="รายละเอียด">
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <span class="input-label">เลขใบสั่งซื้อ : </span>
                <input ng-model="data.docno" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">วันที่ : </span>
                <input ng-value="data.docdate | date:'dd/MM/yyyy'" type="text" style="background-color: white" readonly>
            </label>

            <div class="row" ng-click="btnGoDetail(data)">
                <div class="col col-33">
                    <img class="imagempf" src="{{data.user.profileImageURL}}">
                </div>
                <div class="col col-66">
                    <h4>ชื่อ : {{data.user.displayName}}</h4>
                    <p>ที่อยู่ : {{data.shipping.address}} {{data.shipping.subdistrict}}</p>
                    <p>{{data.shipping.district}} {{data.shipping.province}} {{data.shipping.postcode}}</p>
                </div>
            </div>
            <!--remark order-->
            <div class="row" ng-if="data.remark">
                <div class="col">
                    <p>หมายเหตุ : {{data.remark}}</p>
                </div>
            </div>
            <div class="row text-center">
                <!--<div class="col">
                    <a class="item item-icon-left tapbuttonNone" ng-click="gotoChat(data.user)">
                        <i class="icon ion-ios-chatbubble"></i> พูดคุย
                    </a>
                </div>-->
                <div class="col">
                    <a class="item item-icon-left tapbuttonNone" ng-click="tels('{{data.shipping.tel}}')">
                        <i class="icon ion-ios-telephone"></i> โทร
                    </a>
                </div>
                <div class="col">
                    <a class="item item-icon-left tapbuttonNone" ng-click="openMap({{data}})">
                        <i class="icon ion-ios-location"></i> นำทาง
                    </a>
                </div>
            </div>
            <!--Remark Reject-->
            <label class="item item-input" ng-click="modal.show()">
            <div class="row" >
                <div class="col col-75">
                   <i class="icon ion-alert-circled color-wait" ng-if="data.deliverystatus === 'reject'"></i> <label>คลิกดูประวัติการทำรายการ</label>

                </div>
                <div class="col col-25 option-icon">
                    <i class="icon ion-chevron-right"></i>
                </div>
            </div>
            </label>
            <div class="row" ng-if="data.deliverystatus !== 'wait deliver'">
                <div class="col col-100">
                    <button class="button button-block button-positive" ng-click="acceptDeliver(data)">
                        ยอมรับ
                    </button>
                </div>
            </div>
            <div class="row" ng-if="data.deliverystatus === 'wait deliver'">
                <div class="col col-50">
                    <button class="button button-block button-positive" ng-click="acceptDeliver(data)">
                        ยอมรับ
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-assertive" ng-click="rejectDeliver(data)">
                        ปฏิเสธ
                    </button>
                </div>
            </div>
            <div class="item item-avatar-left item-icon-right item-text-wrap" ng-repeat="item in data.items">
                <img src="{{item.product.images}}">
                <h2>{{item.product.name}} ({{item.product.price}} บาท)</h2>
                <p style="margin-right: 20%">จำนวน {{item.qty}} ถุง</p>
                <p style="margin-right: 20%">ราคารวม {{item.amount}} บาท</p>
            </div>

            <label class="item item-input">
                <span class="input-label">ราคารวม : </span>
                <input ng-value="data.amount +' บาท'" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">ค่าจัดส่ง : </span>
                <input ng-value="data.deliveryamount +' บาท'" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">ส่วนลด : </span>
                <input ng-value="data.discountpromotion + ' ' + 'บาท'" type="text" style="background-color: white" readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">ราคาสุทธิ : </span>
                <input ng-value="data.totalamount + ' ' + 'บาท'" type="text" style="background-color: white" readonly>
            </label>
        </div>

    </ion-content>

    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar align-title="center" class="bar-positive">
                <div class="buttons">
                    <!--<button class="button button-clear button-primary" ng-click="modal.hide()">ยกเลิก</button>-->
                </div>
                <h1 class="title">ประวัติการทำรายการ</h1>
                <div class="buttons">
                    <button class="button button-clear" ng-click="modal.hide()">ปิด</button>
                </div>
            </ion-header-bar>

            <ion-content class="padding">
                <div class="row">
                    <div class="col list card">
                        <div class="list" ng-repeat="history in data.historystatus">

                            <div class="row" ng-if="history.status === 'confirmed'">
                                <div class="col-20">
                                    <i class="icon ion-ios-cart-outline larger"></i>
                                </div>
                                <div class="col-80">
                                    <p>สั่งซื้อ {{history.datestatus | date:'dd-MM-yyyy'}}</p>
                                </div>

                            </div>
                            <div class="row" ng-if="history.status === 'wait deliver'">
                                <div class="col-20">
                                    <i class="icon ion-clock larger"></i>
                                </div>
                                <div class="col-80">
                                    <p>รอรับงาน {{history.datestatus | date:'dd-MM-yyyy'}}</p>
                                </div>

                            </div>
                            <div class="row" ng-if="history.status === 'accept'">
                                <div class="col-20">
                                    <i class="icon ion-ios-checkmark-outline larger"></i>
                                </div>
                                <div class="col-80">
                                    <p>รับงาน {{history.datestatus | date:'dd-MM-yyyy'}}</p>
                                </div>
                            </div>
                            <div class="row" ng-if="history.status === 'reject'">
                                <div class="col-20">
                                    <i class="icon ion-android-hand larger"></i>
                                </div>
                                <div class="col-80">
                                    <p>{{history.delivername}} ปฏิเสธ {{history.datestatus | date:'dd-MM-yyyy'}}</p>
                                    <p>เหตุผล : {{history.remark }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>