<!--<ion-view view-title="Deliver">
  <ion-content>
    <ion-list>
      <ion-item class='item item-avatar-left item-icon-right' ng-click="gotoDeli(deli)" ng-repeat="deli in dataDeli">
                <img src={{deli.user.profileImageURL}}>
                <h2>{{deli.user.displayName}}</h2>
                <p style="margin-right: 20%">{{deli.shipping.address}} {{deli.shipping.subdistrict}}</p>
                <p style="margin-right: 20%">{{deli.shipping.district}} {{deli.shipping.province}}</p>
                <p>
                    <h2>{{deli.shipping.postcode}}</h2>
                </p>
         </ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
