<ion-view view-title="อื่นๆ">
  <ion-content>
   <div class="list">
     <a class="item item-icon-left settings-option" ng-click="listbl()">
        <i class="icon ion-ios-list-outline"></i>
        เปิดบิลลอย
      </a>
      <a class="item item-icon-left settings-option" ng-click="listreceived()">
        <i class="icon ion-ios-bookmarks-outline"></i>
        รายการรับข้าว
      </a>
      <a class="item item-icon-left settings-option" ng-click="()">
        <i class="icon ion-social-buffer-outline"></i>
        สต๊อก
      </a>
      <!--<a class="item item-icon-left settings-option" ng-click="doLogOut()">
        <i class="icon ion-social-bitcoin-outline"></i>
        ใบแจ้งหนี้
      </a>-->
      <a class="item item-icon-left settings-option" ng-click="listdetail()">
        <i class="icon ion-ios-contact-outline"></i>
        ประวัติส่วนตัว
      </a>
      <a class="item item-icon-left settings-option" ng-click="doLogOut()">
        <i class="icon ion-ios-close-outline"></i>
        ออกจากระบบ
      </a>
    </div>
    </ion-content>
</ion-view>