<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <div>
    <ion-tab title="งานใหม่" badge="countOrder" icon-off="ion-ios-paper" icon-on="ion-ios-paper-outline" href="#/app/tab/new">
      <ion-nav-view name="tab-new"></ion-nav-view>
    </ion-tab>
  </div>
  <!-- Me Tab -->
  <div>
    <ion-tab title="ของฉัน" badge="countOrderApt" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/app/tab/me">
      <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>
  </div>

  <!-- Map Tab -->
  <div ng-controller="MapCtrl">
    <ion-tab title="แผนที่" ng-click="clearItem()" icon-off="ion-ios-location-outline" icon-on="ion-ios-location">
      <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
  </div>

  <!-- chat -->
  <div>
    <ion-tab title="สนทนา" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/app/tab/chat">
      <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>
  </div>

  <!-- More Tab -->
  <!--<ion-tab title="อื่นๆ" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/app/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>-->

  <div>
    <ion-tab title="ประวัติส่วนตัว" icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact" href="#/app/tab/listdetail">
      <ion-nav-view name="tab-more"></ion-nav-view>
    </ion-tab>
  </div>



</ion-tabs>